.hero_section_wrapper {
  position: relative;
  width: 100%;
  height: 38rem;
  // overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  // z-index: -1; /* Ensure the video stays in the background */
}

.content {
  position: relative;
  z-index: 1; /* Ensure the content stays above the video */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white; /* Adjust as needed */
  text-align: center;
  padding: 1rem;
}
